<!DOCTYPE html>
<html  lang="es" xmlns:th=”http://www.thymeleaf.org” xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>
<header th:replace="~{fragments::cabecera}"></header>
<nav th:replace="~{fragments::navegador}"></nav>
<table class="table text-center m-1">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="producto: ${checkout.products}">
        <td th:text="${producto.id}"></td>
        <td th:text="${producto.name}"></td>
        <td th:text="${producto.price}"></td>
        <td><img class="img-thumbnail img-fluid" style="width: 100px; height: 100px;" th:src="@{/Imagenes/{image}(image=${producto.image})}"></td>
        <td>
            <div class="d-grid gap-2 d-md-block ">
                <form th:action="@{/Checkout/delete/{id}(id=${producto.id})}" method="post" sec:authorize="hasRole('ADMIN')">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<h3 class="m-2">Precio total del carrito: <span th:text="${precioFinal}"></span></h3>
<form th:action="@{/Orders}" method="post">
    <input type="hidden" name="checkoutId" th:value="${checkout.id}">
    <input type="hidden" name="precioFinal" th:value="${precioFinal}">
    <button type="submit" class="btn btn-primary">Finalizar compra</button>
</form>
</body>
</html>